body {
	font-family: 'Koruri', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--bg-background-color);
	color: var(--bg-primary-color);
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 18px;
	line-height: 2.0;
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}
h1 {
	margin: 2.5rem 0 0.5rem 0;
	font-size: 2em;
}
h2 {
	margin: 2.5rem 0 0.5rem 0;
	font-size: 1.5em;
}
h3 {
	font-size: 1.3em;
}
h4 {
	font-size: 1.22em;
}
h5 {
	font-size: 1.20em;
}
h6 {
	font-size: 1.1em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
    &:hover {
        color: var(--accent);
    }
}
p {
	margin: 0;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--bg-secondary-color);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1em;
	color: var(--bg-secondary-color);
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	main {
		padding: 1em;
	}
}

table {
	width: 100%;
	border-collapse: collapse;
	background: var(--card-background-color);
	border: 1px solid var(--card-border-color);

	tr {
		background: var(--card-background-color);

		// 偶数行
		&:nth-child(2n) {
			background: var(--card-background2-color);
		}
		&:hover {
			background: var(--card-background-color-hovered);
		}

		th, td {
			padding: 0 8px;
		}
		th {
			border-bottom: 1px solid var(--card-border-color);
		}
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

.custom-emoji {
    width: 1em;
    height: 1em;
    font-size: 2rem;
    vertical-align: -0.2em;
}