button, .button {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 12px;
    background-color: var(--button-background-color);
    border: 2px solid var(--button-background-color);
    color: var(--button-primary-color);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    line-height: 1.4;
    transition: all 0.3s;

    &.outline {
        background-color: transparent;
        color: var(--button-background-color);

        &:hover {
            color: var(--button-background-color);
        }
    }

    &:hover {
        color: var(--button-primary-color);
        box-shadow: 0 0 12px var(--button-background-color);
    }
}
