:root {
	--accent: #B93E43;

    --bg-background-color: #CEE6FF;
	--bg-primary-color: #313b46;
	--bg-secondary-color: #444f5b;

    --card-background-color: #ebf5ff;
	--card-primary-color: #313b46;
	--card-border-color: #d1a4a5;

    --button-background-color: var(--accent);
    --button-primary-color: #fff;

	--background-acrylic: #CEE6FF80;
}