---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE_SHORT } from '../consts';
---

<header>
	<nav>
		<h2>
			<a href="/">
				<img src="/shrimpia.png" alt="シュリンピア帝国" class="shrimpia-icon" />
				{SITE_TITLE_SHORT}
			</a>
		</h2>
		<div class="internal-links">
			<HeaderLink href="/join">参加方法</HeaderLink>
			<HeaderLink href="/rules">ルール</HeaderLink>
			<HeaderLink href="/mods">MOD</HeaderLink>
		</div>
	</nav>
</header>
<style lang="scss">
	header {
		position: sticky;
		top: 0;
		z-index: 1000;
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0 1em;
		height: 64px;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}

	.shrimpia-icon {
		width: 2em;
		height: 2em;
		vertical-align: middle;
		margin-right: 0.5em;
	}

	h2 {
		margin: 0;
		font-size: 1em;

		a,
		a.active {
			text-decoration: none;
		}
	}
	nav {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		a {
			padding: 1em 0.5em;
			color: var(--black);
			border-bottom: 4px solid transparent;
			text-decoration: none;
			&.active {
				text-decoration: none;
				border-bottom-color: var(--accent);
			}
		}
	}

	.internal-links {
		margin-left: auto;
	}

	@media (max-width: 720px) {
		.internal-links {
			display: none;
		}
	}
</style>
