---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

interface Props {
	title?: string;
	description?: string;
    nogap?: boolean;
    frontmatter?: {
        title?: string;
        description?: string;
    };
}

const title = Astro.props.frontmatter?.title ?? Astro.props.title;
const description = Astro.props.frontmatter?.description ?? Astro.props.description;

---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={title ? `${title} - ${SITE_TITLE}` : SITE_TITLE} description={description ?? SITE_DESCRIPTION} />
	</head>
	<body>
        <div id="app">
            <Header />
            {Astro.props.nogap ? <slot/> : (
                <main>
                    <slot />
                </main>
            )}
            <Footer />
        </div>
	</body>
</html>

<style>
    #app {
        position: relative;
    }
</style>